{% load static %}
{% include 'base.html' %}
{% block content %}
    <section>
      <div class="wrapper" style="max-width: 1300px; padding: 4%">
        <h2 class="title">О проекте</h2>
        <p>
          Целью данного исследования было проследить, как отражены на карте
          Минска имена его жителей, родившихся на территории, входящей в состав
          современного города.
        </p>
        <p>
          Для реализации поставленной цели необходимо решить ряд
          исследовательских задач:
        </p>
        <ul>
          <li>выявить улицы, носящие имена людей;</li>
          <li>определить в этом списке улицы, названные в честь минчан;</li>
          <li>
            классифицировать персоналии по роду деятельности: 1) имена деятелей
            науки, культуры и искусства, 2) имена участников Великой
            Отечественной войны, родившихся в Минске и боровшихся за его
            освобождение; 3) имена руководителей города и других деятелей,
            родившихся в Минске и прославивших его;
          </li>
          <li>показать данные улицы на карте города;</li>
          <li>
            выявить историю этих улиц, а также раскрыть самые важные события в
            жизни людей, именем которых эти улицы названы.
          </li>
        </ul>
        <p>
          Объектом исследования стали названия улиц города Минска, посвящённые
          персоналиям; предметом исследования – имена минчан, родившихся и
          прославивших город, отражённые на карте города Минска, а также их
          судьбы.
        </p>
        <p>
          Методы исследования. Исследование проведено на основе принципов
          историзма, объективности, ценностного подхода. При реализации
          поставленных в работе задач, были использованы как общенаучные
          (анализ, синтез, индукция, дедукция, логический и др.), так и
          конкретно-исторические (историко-сравнительный, историко-системный,
          историко-типологический) методы исследования.
        </p>
        <p>
          При выполнении исследования использованы карты г.Минска разных
          исторических периодов и статьи из многотомных изданий: «Беларуская
          энцыклапедыя» в 18 т., «Энцыклапедыя гісторыі Беларусі» в 6 т., а
          также статьи из энциклопедических справочников «Гісторыя Мінска»,
          «Минск: энциклопедический справочник», «Беларусь у Вялікай Айчыннай
          вайне. 1941–1945», а также работы Н. Е. Гальперовича «Мінск – сталіца
          Беларусі», В.П.Шамова «Памятники Минска», А. Ф. Мясникова «Сто асоб
          беларускай гісторыі: гістарычныя партрэты», Д. Н. Петроченки «Именами
          героев», В.М.Телеша «Мінск на старых паштоўках (канец ХІХ – пачатак ХХ
          ст.)», В.А.Жучкевича «Улицы помнят: История, события, люди в названиях
          улиц и площадей города-героя Минска», А. Н. Кулагина «Минск:
          Исторический очерк», З.В.Шибеко, С.Ф.Шибеко «Минск: страницы жизни
          дореволюционного города». Карты Минска разного времени издания
          позволили выявить динамику границ города, которые постоянно
          расширялись, а также увидеть изменения в названиях улиц. Названные
          выше справочные, научные и научно-популярные издания помогли раскрыть
          причины этих изменений. Однако при значительном комплексе литературы
          по истории города Минска, специального исследования, посвященного
          изучению отражения имен выдающихся людей, родившихся на территории
          современного Минска, до сих пор нет, что еще раз подчеркивает
          актуальность данной работы.
        </p>
      </div>
    </section>
{% endblock %}
