{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="wrapper" style="max-width: 1300px; padding: 4%">
            <h2 class="title">О проекте</h2>
            <p>
                <span class="bold">Целью</span> данного исследования было проследить,
                как отражены на карте Минска имена его жителей, родившихся на
                территории, входящей в состав современного города.
            </p>
            <p>
                Для реализации поставленной цели необходимо решить ряд
                исследовательских <span class="bold">задач</span>:
            </p>
            <ul>
                <li>выявить улицы, носящие имена людей;</li>
                <li>определить в этом списке улицы, названные в честь минчан;</li>
                <li>
                    классифицировать персоналии по роду деятельности: 1) имена деятелей
                    науки, культуры и искусства, 2) имена участников Великой
                    Отечественной войны, родившихся в Минске и боровшихся за его
                    освобождение; 3) имена руководителей города и других деятелей,
                    родившихся в Минске и прославивших его;
                </li>
                <li>показать данные улицы на карте города;</li>
                <li>
                    выявить историю этих улиц, а также раскрыть самые важные события в
                    жизни людей, именем которых эти улицы названы.
                </li>
            </ul>
            <p>
                <span class="bold">Объектом</span> исследования стали названия улиц
                города Минска, посвящённые персоналиям;
                <span class="bold">предметом</span>
                исследования – имена минчан, родившихся и прославивших город,
                отражённые на карте города Минска, а также их судьбы.
            </p>
            <p>
                <span class="bold">Методы</span> исследования. Исследование проведено
                на основе принципов историзма, объективности, ценностного подхода. При
                реализации поставленных в работе задач, были использованы как
                общенаучные (анализ, синтез, индукция, дедукция, логический и др.),
                так и конкретно-исторические (историко-сравнительный,
                историко-системный, историко-типологический) методы исследования.
            </p>
            <p>
                При выполнении исследования использованы карты г.Минска разных
                исторических периодов и статьи из многотомных изданий:
                <a href="#">«Беларуская энцыклапедыя» в 18 т.</a>,
                <a href="#">«Энцыклапедыя гісторыі Беларусі» в 6 т.</a>, а также
                статьи из энциклопедических справочников
                <a href="#">«Гісторыя Мінска»</a>,
                <a href="#">«Минск: энциклопедический справочник»</a>,
                <a href="#">«Беларусь у Вялікай Айчыннай вайне. 1941–1945»</a>, а
                также работы Н. Е. Гальперовича
                <a href="#">«Мінск – сталіца Беларусі»</a>, В.П.Шамова
                <a href="#">«Памятники Минска»</a>, А. Ф. Мясникова
                <a href="#">«Сто асоб беларускай гісторыі: гістарычныя партрэты»</a>,
                Д. Н. Петроченки <a href="#">«Именами героев»</a>, В.М.Телеша
                <a href="#"
                >«Мінск на старых паштоўках (канец ХІХ – пачатак ХХ ст.)»</a
                >, В.А.Жучкевича
                <a href="#"
                >«Улицы помнят: История, события, люди в названиях улиц и площадей
                    города-героя Минска»</a
                >, А. Н. Кулагина <a href="#">«Минск: Исторический очерк»</a>,
                З.В.Шибеко, С.Ф.Шибеко
                <a href="#">«Минск: страницы жизни дореволюционного города»</a>. Карты
                Минска разного времени издания позволили выявить динамику границ
                города, которые постоянно расширялись, а также увидеть изменения в
                названиях улиц. Названные выше справочные, научные и научно-популярные
                издания помогли раскрыть причины этих изменений. Однако при
                значительном комплексе литературы по истории города Минска,
                специального исследования, посвященного изучению отражения имен
                выдающихся людей, родившихся на территории современного Минска, до сих
                пор нет, что еще раз подчеркивает актуальность данной работы.
            </p>
            <p>
                <span class="bold">Структура и объем работы.</span> Работа состоит из
                введения, трёх глав, в которых отражены результаты исследования,
                заключения, библиографического списка и приложений. Внутри каждой
                главы персоналии расположены по времени получения улицей названия.
            </p>
            <p>
                <span class="bold">Практическая значимость исследования.</span> В
                результате проведенной работы составлена карта города Минска, на
                которой отмечены улицы, которые носят имена минчан, оставивших
                значительный след в истории, показана эволюция топонимики города.
                Кроме того, была сделана попытка обоснования причины присвоения улицам
                имен этих людей через анализ их роли в жизни страны. Это поможет в
                разработке экскурсионных маршрутов по нашей столице с целью увеличения
                объема внутреннего и внешнего туризма, а также позволит минчанам лучше
                узнать историю своей малой родины для сохранения историко-культурного
                наследия и преемственности в развитии современной и минувшей культур.
            </p>
        </div>
    </section>
{% endblock %}
