{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Имена минчан на карте Минска</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static "main/style.css" %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap"
            rel="stylesheet"
    />
    {% block head %}{% endblock %}
</head>
<body>
<nav>
    <ul>
        {% for name, nav_url in nav_urls %}
            <li><a href="{{ nav_url }}" {% if nav_url == request.path %}class="_active-link"{% endif %}
            >{{ name }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% block content %}{% endblock %}
<footer>
    <p>© 2021 «Имена минчан на карте Минска»</p>
    <p>
        Государственное учреждение образования «Гимназия № 40 г. Минска» 220112,
        г. Минск, ул. Янки Лучины, д. 40, (8-017) 291 – 75 – 26
    </p>
</footer>
</body>
</html>