{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="main-bg">
        <h1>Имена минчан на карте Минска</h1>
    </section>

    <section>
        <div class="wrapper">
            <h2 class="title">Имена минчан на карте Минска</h2>
            <p style="text-align: center">
                Многие улицы Минска носят
                <a href="{% url "streets" %}">
                    имена зарубежных и белорусских писателей и поэтов, художников,
                    композиторов, артистов.
                </a>
                Одни улицы получили своё название ещё в довоенные годы, другие – после
                Великой Отечественной войны, а третьи – после обретения независимости
                Республики Беларусь, в 1991 году и в более позднее время, благодаря
                работе Топонимической комиссии Минского горисполкома. Сколько же
                подарил город Минск улиц своим прославленным минчанам?
            </p>
            <div class="map">
                <script
                        type="text/javascript"
                        charset="utf-8"
                        async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af58815209f33d1ba988b5df2277a2921887919ecafced12c549f326a35d5ab32&amp;width=850&amp;height=420&amp;lang=ru_RU&amp;scroll=true"
                ></script>
            </div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <h2 class="title">Актуальность проекта</h2>
            <p>
                Для нас, молодого поколения минчан, очень важным является знание
                истории родного города, в котором мы родились и живём. Знание карты
                города позволяет выявить традиции в названиях городских объектов,
                познакомиться с его живой историей, памятными местами и ощущать себя
                частью этого города – минчанами. Этим и обусловлена актуальность
                представленного исследования.
            </p>
            <p>
                Изучение историко-культурного наследия начинается с малого – с карты
                города. Нас заинтересовало, почему те или иные улицы имеют такие
                названия. Одни из них посвящены занятиям людей – Монтажников,
                Машиностроителей, Кузнечная и др. Другие посвящены событиям –
                Бородинская, Революционная, Октябрьская и др. Некоторые отражают
                топографические особенности – Западная, Восточная, Юго-Западная и др.
                или названия деревень и урочищ, вошедших в состав Минска: Комаровская,
                Брилевская, Дрозды, Медвежино, Масюковщина, Лошица, Серебрянка,
                Чижовка и др. Особую группу составляют улицы, носящие имена людей:
                таких на карте г. Минска 2014 г. мы насчитали -307( улицы, проспекты,
                бульвары, переулки).
            </p>
            <p>
                В ходе исследования была принята рабочая гипотеза: если существуют
                улицы, образовавшие своё название от имён или фамилий, то вероятно это
                знаменитые минчане, сделавшие что-то полезное для города, и
                благодарные горожане запечатлели их имена на карте Минска.
            </p>
        </div>
    </section>
{% endblock %}