{% load static %}
{% include 'base.html' %}
{% block content %}
    <section>
      <div class="wrapper">
        <h2 class="title">{{ object.name }}</h2>
        <div class="citizen-container">
          <div class="citizen-info">
            {{ object.description | linebreaks }}
          </div>
          <div class="citizen-photo">
            <img src="{{ object.man_photo.url }}" alt="{{ object.man_name }}" />
          </div>
        </div>
      </div>
    </section>
{% endblock %}