{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="wrapper">
            <h2 class="title">Их именами названы улицы Минска</h2>
            <div class="photo__inner">
                {% for object in object_list %}
                    <div class="photo__block">
                        <a href="{% url "street_detail" object.slug %}"
                        ><img src="{{ object.man_photo.url }}" alt="{{ object.man_name }}"
                        /></a>
                        <p>{{ object.man_name }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
